<div class="slider-container">
  <h3>{{ title }}</h3>
  <div class="chevron-left" (click)="prevSlide()">
    <fa-icon [icon]="chevronLeft"></fa-icon>
  </div>
  <div class="chevron-right" (click)="nextSlide()">
    <fa-icon [icon]="chevronRight"></fa-icon>
  </div>
  <div class="slider">
    <app-fade-slider
      [contain]="contain"
      [images]="images"
      [currentSlideIndex]="currentSlide"
      (slideChange)="onSlideChange($event)"
      (imageClick)="onImageClick($event)"
    ></app-fade-slider>
  </div>
</div>
