.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-layer {
  position: sticky;
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/SCUOLA/bg_scuola_HD.jpg");
  background-position: top center;
  background-size: cover;
  top: 0;
}

.flex-wrapper {
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.5);
  backdrop-filter: blur(5px);
  gap: 2rem;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.nav-container {
  transition: transform 0.3s ease-in-out;
  height: 76px;
  max-width: 100%;
}

.nav-container.hidden {
  transition: all 0.3s ease-in-out;
  transform: translateY(-200%);
}
.description-container {
  position: relative;
  width: 454px;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.659);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.description {
  margin: auto;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  border-radius: 3px;
  position: relative;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px;
  font-size: 25px;
  color: rgb(42, 42, 42);
}

h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(42, 42, 42);
}
.paragraphe {
  margin-top: 1rem;
  font-size: 18px;
  color: rgb(42, 42, 42);
}

footer {
  height: 300px;
  width: 100%;
  background-color: rgb(96, 120, 119, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
}
.bot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(96, 120, 119, 1);
  padding: 2rem;
}

.calendar {
  width: 726px;
}

.tarif {
  color: white;
  position: relative;
  height: 236px;
  padding: 10px 8px 6px 10px;
  font-size: 18px;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  overflow-y: scroll;
  & h4 {
    color: white;
    font-weight: 400;
  }
  & p {
    font-weight: 300;
  }
}
