<div class="container" #page>
  <section class="image bg1"></section>

  <section class="buffer">
    <div class="image-gauche"></div>
    <div class="texte">
      <p>
        Au cœur de l’Italie, à la frontière de l’Ombrie et de la Toscane, au
        milieu d’un environnement calme et superbe, à 3 km du village de
        Preggio, « Le Vigne » est un ancien petit hameau restauré tout en
        conservant son caractère authentique.
      </p>
      <p>
        La piscine privée (6m x 13m), est très bien située avec vue sur les
        collines verdoyantes d’Ombrie.
      </p>
      <p>Terrasse et jardin privatifs pour chaque maison.</p>
    </div>
    <div class="image-droite"></div>
  </section>
  <section class="image bg2">
    <div class="cards-container">
      <app-card title="casa pepe" link="découvrir"></app-card>
      <app-card title="casa scuola" link="découvrir"></app-card>
      <app-card title="situation" link="découvrir"></app-card>
    </div>
  </section>
</div>
