.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../../public/assets/img/SCUOLA/bg_scuola_HD.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.top-layer {
  height: 100vh;
  width: 100%;
}

.flex-wrapper {
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(96, 120, 119, 0.5);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

/* .grid-wrapper {
  display: grid;
  width: 100%;
  padding: 2rem;
  gap: 4rem;
}



.top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

.description {
  width: 454px;
  height: 380px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgba(240, 248, 255, 0.721);
  padding: 2rem;
  font-size: 18px;
}

footer {
  height: 300px;
  width: 100%;
  background-color: rgb(133, 144, 140);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(96, 120, 119, 1);
  padding: 2rem;
}

.calendar {
  width: 711px;
}
