<app-full-screen-slider></app-full-screen-slider>
<div class="container">
  <div class="top-layer">
    <app-nav-bar
      id="nav-bar"
      [className]="isNavBarVisible() ? 'nav-container' : 'nav-container hidden'"
      currentPage="Casa Peppe"
    ></app-nav-bar>
    <div class="background"></div>
  </div>
  <div class="grid-wrapper">
    <app-slider
      title="CASA PEPPE | INTÉRIEUR"
      class="top-left"
      [images]="inside"
      (imageSelected)="onImageSelected($event)"
      [contain]="true"
    ></app-slider>
    <app-slider
      title="CASA PEPPE | EXTÉRIEUR"
      class="top-right"
      [images]="outside"
      (imageSelected)="onImageSelected($event)"
      [contain]="true"
    ></app-slider>
    <app-slider
      title="CASA PEPPE | PLANS"
      class="bottom-left"
      [images]="map"
      (imageSelected)="onImageSelected($event)"
      [autoplay]="false"
      [contain]="true"
    ></app-slider>
    <div class="description-container">
      <h3>CASA PEPPE | DESCRIPTION</h3>
      <div class="description">
        <div class="header">
          <h4>DESCRIPTION DE LA CASA PEPPE</h4>
          <p>10 hôtes | 5 chambres | 3 salles de bain</p>
        </div>
        <div class="paragraphe">
          <p>
            Restaurée tout en conservant son caractère authentique, décorée avec
            soin et équipée de tout le confort moderne.
          </p>
        </div>
        <div class="paragraphe">
          <h4>NIVEAU 1 :</h4>
          <p>- hall d’entrée, vestiaire</p>
          <p>- grande salle à manger</p>
          <p>- cuisine super équipée</p>
          <p>- 1 chambre lit double</p>
          <p>- 1 salle d’eau, douche à l’italienne et wc</p>
          <p>
            - 2 terrasses avec coins repas et salon de jardin ombragé, four à
            pizza
          </p>
        </div>
        <div class="paragraphe">
          <h4>NIVEAU 2 :</h4>
          <p>- séjour avec feu ouvert</p>
          <p>- 1 chambre lit double</p>
          <p>- 1 chambre lit double + lavabo</p>
          <p>- 1 chambre 2 lits simples + lavabo</p>
          <p>- 1 bureau</p>
          <p>- 1 salle d’eau, douche à l’italienne et wc</p>
        </div>
        <div class="paragraphe">
          <h4>NIVEAU 3 :</h4>
          <p>- 1 chambre 2 lits simples, 1 lit enfant à barreaux</p>
          <p>- 1 salle d’eau, douche et wc</p>
        </div>
        <div class="transparent-gradient-layer"></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="tarif">
      <h4>CASA PEPPE | TARIF (À LA SEMAINE)</h4>
      <div class="price">
        <p>2380 € / haute saison 2025 : du 28 juin au 30 août</p>
        <p>
          2030 € / moyenne saison 2025 : du 3 mai au 28 juin et du 30 août au 27
          septembre
        </p>
        <p>1820 € / le reste de l’année</p>
      </div>
      <div class="content">
        <p>
          La location se fait à la semaine, du samedi au samedi (en haute saison
          principalement).
        </p>
        <p>
          Néanmoins, nous sommes ouverts à d’autres formules « à la carte ».
        </p>
        <p>N’hésitez pas à en faire la demande.</p>
        <p>Les dates cochées en orange ne sont plus disponibles.</p>
      </div>
    </div>
    <div class="calendar">
      <iframe
        src="https://www.availabilitycalendar.com/embed/YylTmB1SVvB7eCaTwAqI/fr-0-1-3-1-0-0-0-0-0-0-0-1-0/"
        height="246"
        width="100%"
        frameborder="0"
        allowtransparency="true"
      ></iframe>
    </div>
  </footer>
</div>
