<div id="parallax-wrapper">
  <section>
    <div class="p-one parallax-inner"></div>
  </section>

  <section class="buffer">
    <div class="texte">
      <h3>L’OMBRIE, CŒUR VERT DE L'ITALIE</h3>
      <p>
        L’Ombrie “cœur vert de l’Italie”, possède indéniablement un grand cœur.
      </p>
      <p>
        Ses habitants, ses villes, ses campagnes baignées par l’histoire vous
        invitent à un voyage très personnel.
      </p>
      <p>
        Ici sont les racines, loin de la grandeur de Rome, sa simplicité
        contraste aimablement avec sa médiatique voisine : la Toscane. Ici sont
        les sources, le Tibre la traverse avant d’aller bercer les pieds des
        papes romains qu’un certain François d’Assise fera trembler. Ici est
        l’inspiration, ici sont les couleurs que les plus grands artistes
        déposeront avec une infinie délicatesse sur des murs, des toiles et des
        panneaux de bois.
      </p>
      <p>Tentez l’expérience !</p>
    </div>
  </section>
  <section>
    <div class="p-two parallax-inner">
      <div class="cards-container-grid">
        @for(card of discoveriesList; track card) {

        <div class="grid-item">
          <app-card
            title="{{ card.title }}"
            imagePath="{{ card.imgPath }}"
            [pathLink]="'/discoveries/' + card.link"
          ></app-card>
        </div>
        }
      </div>
    </div>
  </section>
</div>
