.p-one {
  background-image: url("../../../assets/img/DECOUVERTES/decouvertes_bg2.jpg");
}

.p-two {
  background-image: url("../../../assets/img/DECOUVERTES/decouvertes_bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-layer {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.parallax-inner {
  position: relative;
  min-height: 100vh;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.buffer {
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  background-color: rgb(96, 120, 119, 1);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cards-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texte {
  font-size: 18px;
  max-width: 1028px;
  margin: auto;
  padding: 0 2rem;
  & p {
    font-weight: 200;
    margin-top: 1rem;
  }
  & h3 {
    font-weight: 200;
  }
}

.grid-item {
  display: flex;
}
