<div class="container">
  <div class="top-layer"></div>
  <div class="grid-wrapper">
    <app-slider title="Intérieur" class="top-left"></app-slider>
    <app-slider title="Extérieur" class="top-right"></app-slider>
    <div class="text-banner">
      Accaborrora nemoluptam rem vel maiossuntur, conecuscium sit qui ut ullatum
      simin re consequ iscientiame lam a volorib earcide bisitatur? Atibus modit
      aut ipsam id ut enihicia quistiam senimag nimpor aspernaturia ventionserum
      veneseque min earunti doloribus, estisimin nonsequid magnissunt autate la
      sum, sit, omnis sus eos ent landitis as doluptur aut omni dis dolupta
      comnis aditae quam volliquiam asperro volupic illaborio verunt deles idel
      minti qui blam, nat. Ibusa aut re, qui culparu ptatus eicipsum voluptae
      voluptas expero omnis simil iliquia derio. moluptatis facia cus cuscia
      dolum evelitium aspe si vent pel illo ex et
    </div>
    <footer>
      <div class="background"></div>
    </footer>
  </div>
</div>
