.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-layer {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  background-image: url("../../../assets/img/ACCUEIL/ACCUEIL_SLIDE/13JARDIN_IMG_6325_1920x1080.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.container-slide {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(96, 120, 119, 1);
}

.grid-wrapper {
  display: grid;
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  background-color: rgba(196, 196, 196, 0.5);
  backdrop-filter: blur(5px);
  gap: 4rem;
  z-index: 10;
}

.top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-banner {
  width: calc(908px + 4rem);
  grid-column: 1/3;
  grid-row: 2;
  color: white;
  font-size: 20px;
  margin: auto;
  text-align: justify;
  & p {
    font-weight: 200;
  }
}

footer {
  width: 100%;
  height: 500px;
}

.background {
  width: 100%;
  background-color: aquamarine;
  background-size: cover;
}

.nav-container {
  transition: transform 0.3s ease-in-out;
  height: 76px;
  max-width: 100%;
}

.nav-container.hidden {
  transition: all 0.3s ease-in-out;
  transform: translateY(-200%);
}
