.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.discovery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 50px 0px 50px;
  height: 100%;
  overflow: scroll;
  gap: 40px;
}

.images {
  width: 70%;
  overflow: scroll;
  height: 100%;
  & img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }
}
.texte {
  width: 30%;
  align-self: flex-start;
  overflow: scroll;
  height: 100%;
  & p {
    margin-top: 20px;
    font-weight: 200;
  }
  & p:last-child {
    margin-bottom: 20px;
  }
}
