<div id="parallax-wrapper">
  <section>
    <div class="p-one parallax-inner"></div>
  </section>

  <section class="buffer">
    <div class="map"></div>
    <div class="region"></div>
    <div class="texte">
      <div class="header">
        <p>Preggio est situé entre Florence et Rome.</p>
        <p>Situation idéale pour visiter l’Ombrie et la Toscane.</p>
      </div>
      <div class="content">
        <p>Quelques suggestions :</p>
        <p>Lago Trasimeno ± 15 km | Passignano ± 20 km | Corciano± 20 km |</p>
        <p>Montone ± 30 km | Cortona ± 35 km | Perugia ± 35 km |</p>
        <p>Città di Castello ± 40 km | Panicalle ± 45 km | Gubbio ± 45 km |</p>
        <p>Assisi ± 50 km | Arezzo ± 60 km | Città della Pieve ± 60 km |</p>
        <p>Montepulciano ± 60 km | Spello ± 60 km | Pienza ± 70 km |</p>
        <p>Foligno ± 70 km | Todi ± 70 km | Trevi ± 80 km | Siena ± 90 km |</p>
        <p>Spoleto ± 100 km | Orvieto ± 110 km | Firenze ± 140 km |</p>
        <p>Roma ± 200 km</p>
      </div>
    </div>
  </section>
  <section>
    <div class="p-two parallax-inner"></div>
  </section>
</div>
