.p-one {
  background-image: url("assets/img/SITUATION/thumbnail_FOND_SITUATION_1920x1080.jpg");
}

.p-two {
  background-image: url("assets/img/SITUATION/CARTEregion_1920x1080.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.buffer {
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  background-color: rgb(96, 120, 119, 1);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.map {
  height: 400px;
  width: 332px;
  background-image: url("assets/img/SITUATION/thumbnail_ITALIE-simplifie_600.png");
  background-size: cover;
}

.region {
  height: 400px;
  width: 30%;
  background-image: url("assets/img/SITUATION/ItalieCentre_900.png");
  background-size: cover;
  background-position: center center;
}

.texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  width: 40%;
}

.parallax-inner {
  position: relative;
  min-height: 100vh;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.grid-item {
  display: flex;
}
