<div class="container">
  <div class="background-top"></div>
  <div class="container-slide">
    <div class="map"></div>

    <div class="region">
      <app-slider></app-slider>
      <div class="region-description">
        <div class="header">
          <p>Preggio est situé entre Florence et Rome.</p>
          <p>Situation idéale pour visiter l’Ombrie et la Toscane.</p>
        </div>
        <div class="content">
          <p>Quelques suggestions :</p>
          <p>Lago Trasimeno ± 15 km | Montone ± 30 km |</p>
          <p>Cortona ± 35 km | Perugia ± 35 km |</p>
          <p>Città di Castello ± 40 km | Gubbio ± 45 km |</p>
          <p>Assisi ± 50 km | Arezzo ± 60 km |</p>
          <p>Città della Pieve ± 60 km | Montepulciano ± 60 km |</p>
          <p>Spello ± 60 km | Pienza ± 70 km | Todi ± 70 km |</p>
          <p>Siena ± 90 km | Spoleto ± 100 km | Orvieto ± 110 km |</p>
          <p>Firenze ± 140 km | Roma ± 200 km</p>
        </div>
      </div>
    </div>
  </div>
</div>
