.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.top-layer {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(96, 120, 119, 0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
  min-height: 100vh;
}

.texte {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  color: white;
  padding: 2rem;

  & p {
    font-weight: 300;
  }
}

.cards {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 4rem;
}

.text-overlay {
  background-color: rgb(96, 120, 119, 0.8);

  color: white;

  flex-direction: column;
  transition: 0.3s ease-in-out;
  opacity: 1;
  padding: 1rem;

  & .header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  & h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  & .text {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
  & h3 {
    font-weight: 300;
  }
  & p {
    font-weight: 300;
  }
}

.nav-container {
  transition: transform 0.3s ease-in-out;
  height: 76px;
  max-width: 100%;
}

.nav-container.hidden {
  transition: all 0.3s ease-in-out;
  transform: translateY(-200%);
}

.text-overlay.hidden {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
