<div id="parallax-wrapper">
  <section>
    <div class="p-one parallax-inner"></div>
  </section>

  <section class="buffer">
    <div class="image-gauche">
      <img src="/assets/img/DECOUVERTES/DECOUVERTES_IMG_1232_1920.jpg" alt="" />
    </div>
    <div class="texte">
      <p>
        Au cœur de l’Italie, à la frontière de l’Ombrie et de la Toscane, au
        milieu d’un environnement calme et superbe, à 3 km du village de
        Preggio, « Le Vigne » est un ancien petit hameau restauré tout en
        conservant son caractère authentique.
      </p>
      <p>
        La piscine privée (6m x 13m), est très bien située avec vue sur les
        collines verdoyantes d’Ombrie.
      </p>
      <p>Terrasse et jardin privatifs pour chaque maison.</p>
    </div>
    <div class="image-droite">
      <img src="/assets/img/PROPRIETE/hamac_1920.jpg" alt="" />
    </div>
  </section>
  <section>
    <div class="p-two parallax-inner">
      <div class="cards-container">
        <app-card
          title="casa pepe"
          link="découvrir"
          pathLink="casa-peppe"
          [imagePath]="imagePaths.pepe"
        ></app-card>
        <app-card
          title="casa scuola"
          link="découvrir"
          pathLink="casa-scuola"
          [imagePath]="imagePaths.scuola"
        ></app-card>
        <app-card
          title="situation"
          link="découvrir"
          pathLink="situation"
          [imagePath]="imagePaths.situation"
        ></app-card>
      </div>
    </div>
  </section>
</div>
