<div class="container">
  <div class="top-layer">
    <app-fade-slider [images]="sliders" [fixed]="true"></app-fade-slider>
  </div>
  <div class="flex-wrapper">
    <div class="texte">
      <p>Au cœur de l’Italie, à la frontière de l’Ombrie et de la Toscane,</p>
      <p>
        au milieu d’un environnement calme et superbe, à 3 km du village de
        Preggio,
      </p>
      <p>
        « Le Vigne » est un ancien petit hameau restauré tout en conservant son
        caractère authentique.
      </p>
      <p>
        La piscine privée (6m x 13m), est très bien située avec vue sur les
        collines verdoyantes d’Ombrie.
      </p>
      <p>Terrasse et jardin privatifs pour chaque maison.</p>
    </div>
    <div class="cards">
      <app-card
        title="casa pepe"
        link="découvrir"
        pathLink="/casa-peppe"
        [imagePath]="imagePaths.pepe"
      ></app-card>
      <app-card
        title="casa scuola"
        link="découvrir"
        pathLink="/casa-scuola"
        [imagePath]="imagePaths.scuola"
      ></app-card>
    </div>
  </div>
</div>
