.p-one {
  background-image: url("../../../../public/assets/img/backgrounds/background_1.jpg");
}

.p-two {
  background-image: url("../../../../public/assets/img/backgrounds/background_2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-inner {
  position: relative;
  min-height: 100vh;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.buffer {
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  background-color: rgb(96, 120, 119, 1);
  padding: 2rem;
  display: grid;
  justify-content: space-between;
  gap: 2rem;
}

.image-gauche {
  grid-column: 1 / 2;
  text-align: right;
  background-color: tomato;
  height: 252px;
  min-width: 300px;
}

.image-droite {
  grid-column: 3 / 4;
  text-align: left;
  background-color: violet;
  height: 252px;
  min-width: 300px;
}

.texte-milieu {
  grid-column: 2 / 3;
  grid-row: 2;
  font-size: 20px;
}
.texte {
  font-size: 20px;
  grid-column: 2/3;
  text-align: center;
  align-self: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
