nav {
  display: flex;
  align-items: center;
  background-color: red;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.nav-logo {
  width: 200px;
  height: 100px;
  background-color: blue;
  position: absolute;
}
